*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

:root{
    --top-div-height: 160px;
    --bg-black: black;
    --active: #03a9f4;
}

::-webkit-scrollbar{
    display: none;
}

body{
    background: black;
}

h1{
    margin: 10px 0;
    text-align: center;
}

.btn{
    background: none;
    color: white;
    padding: 15px 60px;
    font-size: 20px;
    margin: 20px 0;
    max-width: 200px;
    outline: none;
    display: block;
    border: 2px solid white;
    border-radius: 20px;
    cursor: pointer;
}

.btn:hover{
    color: black;
    background: white;
}

#top-div{
    padding: 5px 10px;
    position: fixed;
    width: -webkit-fill-available;
    background: var(--bg-black);
    color: white;
    z-index: 10;
}

#top-div div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#top-div ul{
    display: flex;
    height: fit-content;
    cursor: pointer;
}

#top-div ul li{
    margin: 0 5px;
    padding: 8px 20px;
    background: white;
    color: black;
    list-style: none;
    border-radius: 10px;
    letter-spacing: 1px;
}

#top-div ul li.active{
    background: var(--active);
    color: white;
}

.container{
    display: none;
    flex-wrap: wrap;
    padding-top: calc(var(--top-div-height));
    padding-left: 10px;
    padding-right: 10px;
    background: var(--bg-black);
}

.box{
    margin: 5px 5px;
    padding: 10px 0;
    height: 154px;
    width: 19.25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: var(--bg-black);
    border-radius: 10px;
    -webkit-text-stroke: 1px black;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    transition: 0.4s all ease-in-out;
}

.box .fa{
    font-size: 24px;
    cursor: pointer;
}

.fa-lock:before{
    color: red;
}

.box i span{
    margin-left: 10px;
    font-size: 24px;
    font-weight: 900;
}

.box p{
    font-size: 24px;
    font-weight: 900;
    color: white;
    cursor: pointer;
}

.alert{
    display: none;
    position: fixed;
    margin: 20px;
    padding: 20px;
    min-width: 165px;
    bottom: 0;
    left: 0;
    background: white;
    color: black;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
}

/* IPad Pro */
@media only screen and (max-width: 1024px){  
    .box{
        height: 230px;
        width: 32.3%;
    }
}

/* IPad */
@media only screen and (max-width: 768px){  
    .box{
        height: 205px;
        width: 31.9%;    
    }
}

@media only screen and (max-width: 750px){  
    .box{
        width: 23.63%;
    }
}

@media only screen and (max-width: 711px){  
    #top-div div{
        display: block;
        align-items: center;
        justify-content: space-between;
    }

    #top-div div ul{
        justify-content: center;
    }

    .btn{
        margin: 5px auto;
    }
}

@media only screen and (max-width: 450px){
    .box{
        width: 47.67%;
    }
}

/* For Mobile & IPhones*/
@media only screen and (max-width: 420px){
    #top-div div{
        display: block;
    }

    #top-div div ul{
        display: block;
    }
    
    #top-div div ul li{
        margin: 5px;
        text-align: center;
    }

    h1{
        margin: 9px 0;
        padding: 8px 30px;
        font-size: 18px;
    }

    .btn{
        margin: 10px auto;
        padding: 8.25px 40px;
    }

    .container{
        padding-top: 260px;
    }

    .box{
        width: 100%;
    }
}